/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
.body{
  background-color: #448D76;
  background-size: cover;
  height: 700px;
  margin-top: -30px;
  background-repeat: repeat-x;
  font-family:  cursive;
}
.jumbotron{
  width: 60%;
  height: 100px;
  text-align: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color:   #1d1d2f;
  color:#EF7939 ;
  border-radius: 20px;
  opacity: 0.8;

}
